* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: inline-block;
  background-color: #000000;
  height: 5vh;
  width: 100%; /*배경 가로사이즈에 맞추기위함 */
}

body {
  width: 100%;
  text-align: center;
  background-color: black;
}
.mainBox {
  display: inline-block;
  height: 100vh;
  width: 57.666372462vh;
  margin: 0;
  background-image: url("./introSection/image/main_page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* height: 5.5vh; */
}

button {
  margin: 0;
  padding: 0;
}
