* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  header {
    display: inline-block;
    background-color: #000000;
    height: 5vh;
    width: 98.94%; /*배경 가로사이즈에 맞추기위함 */
  }
  
  body {
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  #log {
    width: auto;
    height: 100%;
    display: block;
  }
  
  .mainBox {
    display: inline-block;
    height: 100vh;
    width: 57.666372462vh;
    margin: 0;
    background-image: url("../image/intro_make_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .titleBox {
    height: 15vh;
  }
  
  .title {
    width: 65%;
    height: 11vh;
  }
  
  .charBox {
    padding-top:14vh;
  }
  
  .character {
    width: 65%;
    height: 18vh;
  }
  
  .textContainer {
    display: inline-block;
    margin: 0;
    background-image: url("../image/intro_eunji_box.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 42vh;
    width: 49vh;
    height: 27vh;
    text-align: left;
  }
  
  .textBox {
    margin-top: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    font-family: Roboto;
    font-size: 100%;
    width: 75%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 3vh;
    margin-top: 1vh;
  } 
  
  .text img {
    width: 100%;
    height: auto;
  }
  
  .btn {
    display: block;
    width: 5.3vh;
    height: 5.3vh;
    margin-left: 1vh;
  }
  
  .btn img {
    width: 100%;
    height: auto;
  }