* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: inline-block;
  background-color: #000000;
  height: 5vh;
  width: 100%; /*배경 가로사이즈에 맞추기위함 */
}

body {
  width: 100%;
  text-align: center;
  height: 100vh;
  background-color: black;
}

#log {
  width: auto;
  height: 100%;
  display: block;
}

.mainBox {
  display: inline-block;
  height: 100vh;
  width: 57.666372462vh;
  margin: 0;
  background-image: url("../image/intro_v1_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titleBox {
  height: 15vh;
}

.title {
  width: 65%;
  height: 11vh;
}

.charBox {
  padding-top:14vh;
}

.character {
  width: 65%;
  height: 18vh;
}

.textContainer {
  display: inline-block;
  margin: 0;
  background-image: url("../image/intro_seungchan_box.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4vh;
  width: 54vh;
  height: 32vh;
  text-align: left;
}

.textBox {
  margin-top: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: Roboto;
  font-size: 100%;
  width: 75%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 5vh;
} 

.text img {
  width: 100%;
  height: auto;
}

.btn {
  display: block;
  width: 5.5vh;
  height: 5.5vh;
  margin-left: 1vh;
}

.btn img {
  width: 100%;
  height: auto;
}